body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: red; */
  background-image: url('./assets/images/corkk.jpeg');
  background-size: contain;
  font-weight: bolder;
  color: rgb(113, 6, 6);
  margin: auto;
}

h1 {
  color: rgb(0, 0, 0);
}

.navbar{
  background-color: black;
}

.nav-link{
  color: white;
}
​
.logout-link {
  cursor: pointer;
}

.Home__page{
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  border: 2px solid black;
}

.About__section{
  width: 70%;
  height: 600px;
  background-color: aliceblue;
  color: black;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}

.Spa__home{
  background-image: url('./assets/images/Spa.JPG');
  background-size: cover;
  width: 300px;
  height: 450px;
  border: 2px solid white;
  border-radius: 10px;
}

.Spa__container{
  background-color: rgb(255, 0, 0);
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

.Spa__grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Spa__info{
  background-color: rgba(0, 0, 0, 0.688);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  width: 250px;
  height: 450px;
  overflow-y: scroll;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
}

.Shop__container{
  background-color: rgb(255, 0, 0);
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

.Shop__home{
  background-image: url('./assets/images/Shop.jpg');
  background-size: cover;
  width: 300px;
  height: 450px;
  border: 2px solid white;
  border-radius: 10px;
}

.Shop__grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Shop__info{
  background-color: rgba(0, 0, 0, 0.688);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  width: 250px;
  height: 450px;
  overflow-y: scroll;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
}

.Home__container{
  background-color: rgb(255, 0, 0);
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
}

.Main__features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
  gap: 30px;
}

.Profile__container{
  background-color: brown;
  color: white;
  width: fit-content;
  padding: 40px;
  margin: auto;
  border: 1px solid white;
}

.Inquiry__home{
  width: 80%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  border: 1px solid rgb(6, 5, 5);
  padding-bottom: 10px;
}

.Inquiry__container{
  margin-left:auto;
  margin-right: auto;
  background-color: burlywood;
  width: 90%;
  height: 100%;
  text-align: center;
  border-radius: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Inquiry__title{
  background-color: white;
  margin: auto;
}

.contact__form{
  margin-top: 20px;
}